<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Our Catalog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="ion-margin-start"><strong>We propose these new courses : </strong></p>

  <ion-list>
    <ion-item [routerLink]="['details', c.id]" *ngFor="let c of listCourses">

      <ion-avatar class="ion-margin-horizontal">
        <ion-img [src]="c.image"></ion-img>
      </ion-avatar>

      <ion-label>{{ c.title }} </ion-label>

    </ion-item>

  </ion-list>
</ion-content>